.body {
    font-family: "Lexend", system-ui;
    margin: 0;
    padding: 0;
    background-color: #020202;
}

.body-dark {
    font-family: "Lexend", system-ui;
    margin: 0;
    padding: 0;
}

.bg-dark-light {
    background-color: #020202 !important;
}

h1 {
    font-size: 2.9375rem; /* 4.7em * 16px */
    color: #fff;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.offcanvas-light {
    background-color: #020202 !important;
    --bs-offcanvas-width: 40vh;
}

.offcanvas-dark {
    background-color: rgb(33, 37, 41) !important;
    --bs-offcanvas-width: 40vh;
}


.offcanvas-body {
    overflow-x: hidden; /* Impedisce lo scorrimento orizzontale */
}

#avatar-container {
    background: none;
    border: none;
    padding: 0;
}

h2 {
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    color: #fff;
}

.spanNav {
    font-family: "Lexend", sans-serif;
    font-size: 1.25rem; /* 20px / 16 */
    color: #fff;
}

h3 {
    font-family: "Lexend", system-ui;
    font-size: 0.8125rem; /* 1.3em * 16px */
}

.btn-primary {
    background-color: #08a045 !important;
    border: none !important;
}

.btn-info {
    background-color: #7f43c3 !important;
    color: #ffffff !important;
    border: none !important;
}


select {
    background-color: #333;
    color: #fff;
}

.input-space {
    margin-right: 0.625rem !important;
}

.btn-dark {
    background-color: transparent;
    border: none; /* This will remove the border */
}

.btn-dark:hover {
    background-color: transparent;
    border: none; /* This will remove the border */
}

.btn-dark:active {
    background-color: transparent;
    border: none; /* This will remove the border */
}

.container-fluid-accedi {
    margin-left: 0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
}


ul.CTAs {
    padding: 1.25rem;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 0.3125rem;
    margin-bottom: 0.3125rem;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.customForm {
    position: relative;
    width: 100%;
    padding: 1em;
    z-index: 1000;
}

.form-group {
    position: relative;
}

.message-input {
    padding-right: 5rem; /* Spazio per il bottone 'Send' */
    padding-left: 5rem; /* Spazio per il bottone 'File' */
    z-index: 9;
}

.file-button {
    position: absolute;
    top: 50%;
    left: 0.625rem;
    transform: translateY(-50%);
    z-index: 10;
}

.file-input {
    display: none;
}

.send-button {
    position: absolute;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    z-index: 10;
}

.mask-custom {
    background: #D9D9D9;
    color: #101415;
    border-radius: 1em;
    border: 2px solid rgba(255, 255, 255, 0.05);
}

.mask-custom p {
    color: #101415;
}

#messaggio {
    resize: none;
}


.card-full-page {
    height: calc(100vh - 5.5rem - 3.5rem - 2.5rem);
    overflow-y: auto;
    border: 0.0625rem solid gray;
    border-radius: 0.625rem;
}

.card-file {
    background: #D9D9D9;
    color: #101415;
}

/* Nascondi la barra di scorrimento per le finestre del browser più larghe */
@media (min-width: 800px) {
    body::-webkit-scrollbar {
        display: none;
    }

    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

/* Mostra la barra di scorrimento per le finestre del browser più piccole */
@media (max-width: 800px) {
    body::-webkit-scrollbar {
        display: block;
    }

    body {
        -ms-overflow-style: auto; /* IE and Edge */
        scrollbar-width: auto; /* Firefox */
    }
}

::-webkit-scrollbar {
    width: 1.2rem;
    border-radius: 1.25rem;
    background-color: #101415;
}

::-webkit-scrollbar-track {
    border-radius: 1.25rem;
    border: 0.375rem solid transparent;
    background-color: #101415;
}

::-webkit-scrollbar-thumb {
    background-color: #B3B3B3;
    border-radius: 1.25rem;
    border: 0.375rem solid transparent;
    background-clip: content-box;
    width: 1.2rem;;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 1.25rem;
    background-color: #D9D9D9;
    width: 1.5rem;
}

.btn-circle {
    width: 2.5rem;
    height: 2.5rem; /* 30px / 16 */
    padding: 0.375rem 0; /* 6px / 16 */
    border-radius: 1.5rem; /* 15px / 16 */
    text-align: center;
    font-size: 0.85rem; /* 12px / 16 */
    line-height: 1.42857;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-circle-nav {
    width: 3.5rem;
    height: 3.5rem; /* 30px / 16 */
    border-radius: 2.0rem; /* 15px / 16 */
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
}

.btn-circle-nav .material-symbols-rounded {
    font-size: 2.0rem;
}

.btn-dark:disabled {
    background-color: transparent !important; /* Rimuove lo sfondo */
    border: none !important; /* Rimuove il bordo */
}

.form-ricerca {
    width: 50%; /* Imposta la larghezza al 50% della larghezza del contenitore */
    margin-left: auto; /* Aggiunge margine automatico a sinistra */
    margin-right: auto;
}

.profile-image {
}

.creator-div {
    top: -4rem;
    left: 0;
    right: 0;
    z-index: 1;
    background: #101415;
}

.name-file-display {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#avatar-container {
    background: none;
    border: none;
    padding: 0;
}

.popover-body {
    font-family: "Lexend", sans-serif;
}

.upload-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.75rem;
    height: 19.75rem;
}

.upload-image {
    width: 19.75rem; /* fill the width of the container */
    height: 19.75rem; /* fill the height of the container */
    border-radius: 50%;
    object-fit: cover; /* to maintain the aspect ratio of the image */
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    border-radius: 50%;
    overflow: hidden;
}

.upload-container:hover .overlay {
    opacity: 0.5;
}

.upload-icon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Personalizzazione del colore del checkbox */
.form-check-input:checked {
    background-color: #8044C5 !important;
    border-color: #8044C5 !important;
}

/* Stile per il pallino interno dello switch */
.form-check-input[type='checkbox'][role='switch']::before {
    content: '';
    position: absolute;
    top: 0.125rem;
    /* Regola questa proprietà per centrare verticalmente il pallino */
    left: 0.25rem;
    width: var(--bs-switch-knob-width);
    height: var(--bs-switch-knob-height);
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/* Sposta il pallino interno quando lo switch è attivo */
.form-check-input:checked[type='checkbox'][role='switch']::before {
    transform: translateX(calc(var(--bs-switch-bg-width) - var(--bs-switch-knob-width) - 0.5rem));
}

#imgUtenteProfilo {
    width: 18.75rem;
    height: 18.75rem;
    object-fit: cover; /* Mantiene le proporzioni dell'immagine */
}


#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Rimuove il bordo quando il pulsante è disabilitato */
#nextMessage:disabled, #previousMessage:disabled {
    border: none;
}

/* Rimuove il bordo quando il pulsante viene cliccato */
#nextMessage:active, #previousMessage:active {
    outline: none;
}

.highlight {
    background-color: #8044C5; /* Viola */
    color: white; /* Testo bianco */
}

.formLogin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formLogin button {
    align-self: flex-end;
}

.flex-column > label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #252727;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.btn-login {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #2d79f3;;
}

.btn-check:checked + .btn {
    border-color: #2d79f3;
    box-shadow: 0 0 10px rgba(45, 121, 243, 0.5);
}

.visibilityIcon {
    user-select: none; /* Impedisce l'evidenziazione del testo */
    cursor: pointer; /* Cambia il cursore a una mano quando passi sopra */
}


.typewriter {
    --blue: #18d77e;
    --blue-dark: #157145;
    --key: #fff;
    --paper: #EEF0FD;
    --text: #D3D4EC;
    --tool: #FBC56C;
    --duration: 3s;
    position: relative;
    transform: scale(4);
}

.typewriter .slide {
    width: 92px;
    height: 20px;
    border-radius: 3px;
    margin-left: 14px;
    transform: translateX(14px);
    background: linear-gradient(var(--blue), var(--blue-dark));
    -webkit-animation: slide05 var(--duration) ease infinite;
    animation: slide05 var(--duration) ease infinite;
}

.typewriter .slide:before, .typewriter .slide:after,
.typewriter .slide i:before {
    content: "";
    position: absolute;
    background: var(--tool);
}

.typewriter .slide:before {
    width: 2px;
    height: 8px;
    top: 6px;
    left: 100%;
}

.typewriter .slide:after {
    left: 94px;
    top: 3px;
    height: 14px;
    width: 6px;
    border-radius: 3px;
}

.typewriter .slide i {
    display: block;
    position: absolute;
    right: 100%;
    width: 6px;
    height: 4px;
    top: 4px;
    background: var(--tool);
}

.typewriter .slide i:before {
    right: 100%;
    top: -2px;
    width: 4px;
    border-radius: 2px;
    height: 14px;
}

.typewriter .paper {
    position: absolute;
    left: 24px;
    top: -26px;
    width: 40px;
    height: 46px;
    border-radius: 5px;
    background: var(--paper);
    transform: translateY(46px);
    -webkit-animation: paper05 var(--duration) linear infinite;
    animation: paper05 var(--duration) linear infinite;
}

.typewriter .paper:before {
    content: "";
    position: absolute;
    left: 6px;
    right: 6px;
    top: 7px;
    border-radius: 2px;
    height: 4px;
    transform: scaleY(0.8);
    background: var(--text);
    box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

.typewriter .keyboard {
    width: 120px;
    height: 56px;
    margin-top: -10px;
    z-index: 1;
    position: relative;
}

.typewriter .keyboard:before, .typewriter .keyboard:after {
    content: "";
    position: absolute;
}

.typewriter .keyboard:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 7px;
    background: linear-gradient(135deg, var(--blue), var(--blue-dark));
    transform: perspective(10px) rotateX(2deg);
    transform-origin: 50% 100%;
}

.typewriter .keyboard:after {
    left: 2px;
    top: 25px;
    width: 11px;
    height: 4px;
    border-radius: 2px;
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    -webkit-animation: keyboard05 var(--duration) linear infinite;
    animation: keyboard05 var(--duration) linear infinite;
}

@keyframes bounce05 {
    85%, 92%, 100% {
        transform: translateY(0);
    }

    89% {
        transform: translateY(-4px);
    }

    95% {
        transform: translateY(2px);
    }
}

@keyframes slide05 {
    5% {
        transform: translateX(14px);
    }

    15%, 30% {
        transform: translateX(6px);
    }

    40%, 55% {
        transform: translateX(0);
    }

    65%, 70% {
        transform: translateX(-4px);
    }

    80%, 89% {
        transform: translateX(-12px);
    }

    100% {
        transform: translateX(14px);
    }
}

@keyframes paper05 {
    5% {
        transform: translateY(46px);
    }

    20%, 30% {
        transform: translateY(34px);
    }

    40%, 55% {
        transform: translateY(22px);
    }

    65%, 70% {
        transform: translateY(10px);
    }

    80%, 85% {
        transform: translateY(0);
    }

    92%, 100% {
        transform: translateY(46px);
    }
}

@keyframes keyboard05 {
    5%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75%, 84% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }

    9% {
        box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }

    18% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }

    27% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }

    36% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
    }

    45% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }

    54% {
        box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }

    63% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
    }

    72% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }

    81% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
}


.navigation-card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    background-color: rgb(255, 255, 255);
    padding: 15px 15px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 9999;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}

.tab:hover {
    background-color: rgb(223, 223, 223);
}

.navigation-card-dark {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    background-color: rgb(2, 2, 2);
    padding: 15px 15px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 9999;
}

.tab-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgb(1, 1, 1);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}

.tab-dark:hover {
    background-color: rgba(17, 17, 17, 0.92);
}

.card {
    width: 25rem;
    background-color: #157145;
    border-radius: 0.625rem;
}

.cardAccount {
    width: 29.25rem;
    background-color: #157145;
    border-radius: 0.625rem;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.masonry-container {
    margin-left: 5rem !important; /* Imposta il margine sinistro a 2rem */
    overflow-y: auto; /* Permette lo scorrimento verticale se necessario */
    height: 100vh; /* Imposta l'altezza al 100% dell'altezza della viewport */
}

.truncate-md {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    break-inside: avoid;
    margin-bottom: 1rem;
}

.truncate-sm {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-xl {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



.ce-block__content {
    padding: 0.625rem;
}

.editorjs-container {
    min-height: 100vh; /* Imposta l'altezza minima al 100% dell'altezza della viewport */
    background-color: #ffffff;
}

.editorjs-container-dark {
    min-height: 100vh; /* Imposta l'altezza minima al 100% dell'altezza della viewport */
    background-color: #020202; /* Imposta il colore di sfondo su bianco */
}

.ce-header {
    color: #000000;
}

.tc-table {
    border-color: #000; /* Sostituisci con il colore desiderato */
    border-left: 0.0625rem solid #000; /* Sostituisci con il colore desiderato */
}

.tc-row {
    border-color: #000; /* Sostituisci con il colore desiderato */
}

.tc-cell {
    border-color: #000; /* Sostituisci con il colore desiderato */
}

.wrapperEditor {
    display: inline-block;
    margin-right: 10px; /* Aggiungi un margine a destra per separare i checkbox */
}



.radio-labelEditor {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 0.8125rem; /* 13px / 16 */
    white-space: nowrap; /* Impedisce al testo di andare a capo */
    overflow: hidden; /* Nasconde il testo che fuoriesce dal contenitore */
    text-overflow: ellipsis; /* Mostra i puntini di sospensione quando il testo fuoriesce */
    width: 100%; /* Imposta la larghezza del contenitore al 100% */
    max-width: 12.5rem; /* 200px / 16 */

}




.input-search[type = "text"] {
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgb(217, 217, 217) 15.53%, rgb(243, 243, 243) 88.19%);
    box-shadow: 0px 0.75rem 1.5rem -0.0625rem rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 3.125rem;
    block-size: 1.25rem;
    margin: 0.4375rem auto;
    padding: 1.125rem 0.9375rem;
    outline: none;
    text-align: center;
    width: 80rem;
    transition: 0.5s;
}

#noteContainer {
    height: auto !important;
}

.cdx-simple-image__picture--with-border {
    border: 2px solid #000000; /* Sostituisci #desiredColor con il colore del bordo desiderato */
    border-radius: 10px; /* Aggiungi questa linea per smussare gli angoli. Puoi modificare il valore per ottenere la smussatura desiderata */

}

.modal-content {
    background-color: #101415 !important; /* Colore di sfondo dei modali */
}

/* Sovrascrive il colore di sfondo del header del modal */
.modal-header {
    background-color: #101415 !important; /* Colore di sfondo dell'header del modal */
}

/* Sovrascrive il colore di sfondo del body del modal */
.modal-body {
    background-color: #101415 !important; /* Colore di sfondo del body del modal */
}

/* Sovrascrive il colore di sfondo del footer del modal */
.modal-footer {
    background-color: #101415 !important; /* Colore di sfondo del footer del modal */
}

.cdx-simple-image__picture--with-background {
    background-color: #000000; /* Sostituisci #desiredColor con il colore di sfondo desiderato */
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderMiniContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 330px;
    height: fit-content;
}

.barContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    background-position: left;
}

.bar {
    width: 100%;
    height: 38px;
    background: linear-gradient(
            to right,
            #157145,
            #8ec7ab,
            #3ecc8a
    );
    background-size: 200% 100%;
    border-radius: 10px;
    animation: bar ease-in-out 3s infinite alternate-reverse;
}

@keyframes bar {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.bar2 {
    width: 50%;
}

.svgIcon {
    position: absolute;
    left: -25px;
    margin-top: 18px;
    z-index: 2;
    width: 70%;
    animation: search ease-in-out 3s infinite alternate-reverse;
}

@keyframes search {
    0% {
        transform: translateX(0%) rotate(70deg);
    }

    100% {
        transform: translateX(100px) rotate(10deg);
    }
}

.svgIcon circle,
line {
    stroke: #157145;
}

.svgIcon circle {
    fill: rgba(98, 65, 142, 0.238);
}


.pencil {
    display: block;
    width: 20em;
    height: 20em;
}

.pencil__body1,
.pencil__body2,
.pencil__body3,
.pencil__eraser,
.pencil__eraser-skew,
.pencil__point,
.pencil__rotate,
.pencil__stroke {
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pencil__body1,
.pencil__body2,
.pencil__body3 {
    transform: rotate(-90deg);
}

.pencil__body1 {
    animation-name: pencilBody1;
}

.pencil__body2 {
    animation-name: pencilBody2;
}

.pencil__body3 {
    animation-name: pencilBody3;
}

.pencil__eraser {
    animation-name: pencilEraser;
    transform: rotate(-90deg) translate(49px, 0);
}

.pencil__eraser-skew {
    animation-name: pencilEraserSkew;
    animation-timing-function: ease-in-out;
}

.pencil__point {
    animation-name: pencilPoint;
    transform: rotate(-90deg) translate(49px, -30px);
}

.pencil__rotate {
    animation-name: pencilRotate;
}

.pencil__stroke {
    animation-name: pencilStroke;
    transform: translate(100px, 100px) rotate(-113deg);
}

/* Animations */
@keyframes pencilBody1 {
    from,
    to {
        stroke-dashoffset: 351.86;
        transform: rotate(-90deg);
    }

    50% {
        stroke-dashoffset: 150.8;
        /* 3/8 of diameter */
        transform: rotate(-225deg);
    }
}

@keyframes pencilBody2 {
    from,
    to {
        stroke-dashoffset: 406.84;
        transform: rotate(-90deg);
    }

    50% {
        stroke-dashoffset: 174.36;
        transform: rotate(-225deg);
    }
}

@keyframes pencilBody3 {
    from,
    to {
        stroke-dashoffset: 296.88;
        transform: rotate(-90deg);
    }

    50% {
        stroke-dashoffset: 127.23;
        transform: rotate(-225deg);
    }
}

@keyframes pencilEraser {
    from,
    to {
        transform: rotate(-45deg) translate(49px, 0);
    }

    50% {
        transform: rotate(0deg) translate(49px, 0);
    }
}

@keyframes pencilEraserSkew {
    from,
    32.5%,
    67.5%,
    to {
        transform: skewX(0);
    }

    35%,
    65% {
        transform: skewX(-4deg);
    }

    37.5%,
    62.5% {
        transform: skewX(8deg);
    }

    40%,
    45%,
    50%,
    55%,
    60% {
        transform: skewX(-15deg);
    }

    42.5%,
    47.5%,
    52.5%,
    57.5% {
        transform: skewX(15deg);
    }
}

@keyframes pencilPoint {
    from,
    to {
        transform: rotate(-90deg) translate(49px, -30px);
    }

    50% {
        transform: rotate(-225deg) translate(49px, -30px);
    }
}

@keyframes pencilRotate {
    from {
        transform: translate(100px, 100px) rotate(0);
    }

    to {
        transform: translate(100px, 100px) rotate(720deg);
    }
}

@keyframes pencilStroke {
    from {
        stroke-dashoffset: 439.82;
        transform: translate(100px, 100px) rotate(-113deg);
    }

    50% {
        stroke-dashoffset: 164.93;
        transform: translate(100px, 100px) rotate(-113deg);
    }

    75%,
    to {
        stroke-dashoffset: 439.82;
        transform: translate(100px, 100px) rotate(112deg);
    }
}

.popover {
    background-color: #157145; /* Modifica questo valore per ottenere l'effetto desiderato */
}

.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #157145;
    transition: color 0.3s;
}

.form-control {
    color: white;
}

.form-control:focus {
    color: white;
}

.btn-account {
    background: rgba(6, 103, 57, 0.82);
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-account:hover {
    background: rgb(3, 86, 46);
    transition: 0.5s;
}

.btn-account span {
    color: #fff;
}

.account {
    background: rgba(6, 103, 57, 0.82) !important;
    cursor: pointer;
}

.account-title {
    cursor: pointer;
}

#noteContainerModal {
    height: auto !important;
}

.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
}

.switch input {
    display: none;
}

.switch {
    display: inline-block;
}

.switch svg {
    -webkit-transition: var(--icon-transition);
    -o-transition: var(--icon-transition);
    transition: var(--icon-transition);
    position: absolute;
    height: auto;
}

.switch .checkmark {
    width: var(--icon-checkmark-size);
    color: var(--icon-checkmark-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.switch .cross {
    width: var(--icon-cross-size);
    color: var(--icon-cross-color);
}

.slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
}

.circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
}

.slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .slider {
    background: var(--switch-checked-bg);
}

.switch input:checked + .slider .checkmark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.switch input:checked + .slider .cross {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.switch input:checked + .slider::before {
    left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
}

.switch input:checked + .slider .circle {
    left: calc(100% - var(--circle-diameter) - var(--switch-offset));
    -webkit-box-shadow: var(--circle-checked-shadow);
    box-shadow: var(--circle-checked-shadow);
}

.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4.25em;
    height: 2.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #020202)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #020202 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #020202 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #020202)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #020202 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #020202 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 1.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}